/* Визначимо основні властивості з використанням CSS кастомних властивостей*/

:root {
  /*Визначимо фіксовану висоту заголовку*/
  --height-header: 150px;
}

.header {
  display: flex;
  height: var(--height-header);
  justify-content: center;
  background: transparent;
  border-bottom: 3px dotted white;
}
